@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600;6..12,700&family=Poppins:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    margin: 0;
    font-family: 'Poppins','Nunito Sans', sans-serif;
    background: #F5F5F8;
  }
}

@layer components {
  .custom-list li::before {
    content: '•';
    color:#D2AD81;
    display: inline-block;
    width: 1em;
  }
}